/*
    background color : #090016
    card infront for hero image : #B28ED4
    card behind for hero image : #7F60E5
    font color 1 and button color : #B28ED4
    font color 2 : #E9D7D7
    font color 3 : #B5A9C1
*/

*
{
    font-family: "Inter", sans-serif;
    color: white;
    scroll-behavior: smooth;
}
body
{
    margin: 0;
    padding: 0;
}
.container
{
    background-color: #090016;
    height: 100vh;
    overflow-x: hidden;
    background-image: url('data:image/svg+xml,<svg width="1453" height="1307" viewBox="0 0 1453 1307" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 192.402L1446.77 192.402" stroke="url(%23paint0_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0 241.847L1446.77 241.847" stroke="url(%23paint1_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0 291.316H1446.77" stroke="url(%23paint2_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0.000976562 340.761L1446.77 340.761" stroke="url(%23paint3_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0.000976562 390.206H1446.77" stroke="url(%23paint4_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0 439.675L1446.77 439.675" stroke="url(%23paint5_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0 489.12L1446.77 489.12" stroke="url(%23paint6_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0.000976562 538.563H1446.77" stroke="url(%23paint7_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0.000976562 588.033H1446.77" stroke="url(%23paint8_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M55.6475 1300.12L55.6475 70.8038" stroke="url(%23paint9_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0 637.477H1446.77" stroke="url(%23paint10_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0.000976562 683.633H1446.77" stroke="url(%23paint11_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0 729.764H1446.77" stroke="url(%23paint12_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0.00195312 775.918H1446.77" stroke="url(%23paint13_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0 822.048H1446.77" stroke="url(%23paint14_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0 868.548H1446.77" stroke="url(%23paint15_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0.000976562 914.874H1446.77" stroke="url(%23paint16_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0.000976562 962.968H1446.77" stroke="url(%23paint17_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0.000976562 1010.77H1446.77" stroke="url(%23paint18_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0 1060.31H1446.77" stroke="url(%23paint19_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0 1110.98H1446.77" stroke="url(%23paint20_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M121.974 1304.61L121.974 22.5129" stroke="url(%23paint21_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M188.131 1304.61L188.131 2.30737" stroke="url(%23paint22_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M256.73 1306.85L256.73 0.000366211" stroke="url(%23paint23_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M325.327 1304.61L325.327 0.000244141" stroke="url(%23paint24_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M393.925 1304.61L393.925 0.000610352" stroke="url(%23paint25_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M462.523 1304.61L462.523 0.000732422" stroke="url(%23paint26_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M533.586 1304.61V0.000488281" stroke="url(%23paint27_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M607.088 1304.61V0.000366211" stroke="url(%23paint28_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M683.031 1304.61V0.000732422" stroke="url(%23paint29_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M768.785 1304.61V0.00012207" stroke="url(%23paint30_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M854.538 1306.85V0.000366211" stroke="url(%23paint31_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M937.826 1304.61V0.000366211" stroke="url(%23paint32_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M1023.58 1304.61V0.000488281" stroke="url(%23paint33_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M1114.24 1304.61V0.000488281" stroke="url(%23paint34_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M1204.87 1305.64V0.000610352" stroke="url(%23paint35_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M1298 1297.59V0.000976562" stroke="url(%23paint36_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M1378.84 1256.64V0" stroke="url(%23paint37_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M0 1161.63H1446.77" stroke="url(%23paint38_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M5.87305 142.959L1452.64 142.959" stroke="url(%23paint39_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M36.5342 93.4883L1452.64 93.4883" stroke="url(%23paint40_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><path d="M90.4414 40.9751L1452.64 40.9751" stroke="url(%23paint41_linear_113_13)" stroke-opacity="0.3" stroke-width="4" stroke-miterlimit="10"/><defs><linearGradient id="paint0_linear_113_13" x1="723.383" y1="192.402" x2="723.383" y2="193.402" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint1_linear_113_13" x1="723.383" y1="241.847" x2="723.383" y2="242.847" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint2_linear_113_13" x1="723.383" y1="291.316" x2="723.383" y2="292.316" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint3_linear_113_13" x1="723.384" y1="340.761" x2="723.384" y2="341.761" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint4_linear_113_13" x1="723.384" y1="390.206" x2="723.384" y2="391.206" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint5_linear_113_13" x1="723.383" y1="439.675" x2="723.383" y2="440.675" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint6_linear_113_13" x1="723.383" y1="489.12" x2="723.383" y2="490.12" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint7_linear_113_13" x1="723.384" y1="538.563" x2="723.384" y2="539.563" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint8_linear_113_13" x1="723.384" y1="588.033" x2="723.384" y2="589.033" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint9_linear_113_13" x1="56.1475" y1="70.8038" x2="56.1475" y2="1300.12" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint10_linear_113_13" x1="723.383" y1="637.477" x2="723.383" y2="638.477" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint11_linear_113_13" x1="723.384" y1="683.633" x2="723.384" y2="684.633" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint12_linear_113_13" x1="723.383" y1="729.764" x2="723.383" y2="730.764" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint13_linear_113_13" x1="723.385" y1="775.918" x2="723.385" y2="776.918" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint14_linear_113_13" x1="723.383" y1="822.048" x2="723.383" y2="823.048" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint15_linear_113_13" x1="723.383" y1="868.548" x2="723.383" y2="869.548" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint16_linear_113_13" x1="723.384" y1="914.874" x2="723.384" y2="915.874" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint17_linear_113_13" x1="723.384" y1="962.968" x2="723.384" y2="963.968" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint18_linear_113_13" x1="723.384" y1="1010.77" x2="723.384" y2="1011.77" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint19_linear_113_13" x1="723.383" y1="1060.31" x2="723.383" y2="1061.31" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint20_linear_113_13" x1="723.383" y1="1110.98" x2="723.383" y2="1111.98" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint21_linear_113_13" x1="122.474" y1="22.5129" x2="122.474" y2="1304.61" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint22_linear_113_13" x1="188.631" y1="2.30737" x2="188.631" y2="1304.61" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint23_linear_113_13" x1="257.23" y1="0.000366211" x2="257.23" y2="1306.85" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint24_linear_113_13" x1="325.827" y1="0.000244141" x2="325.827" y2="1304.61" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint25_linear_113_13" x1="394.425" y1="0.000610352" x2="394.425" y2="1304.61" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint26_linear_113_13" x1="463.023" y1="0.000732422" x2="463.023" y2="1304.61" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint27_linear_113_13" x1="534.086" y1="0.000488281" x2="534.086" y2="1304.61" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint28_linear_113_13" x1="607.588" y1="0.000366211" x2="607.588" y2="1304.61" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint29_linear_113_13" x1="683.531" y1="0.000732422" x2="683.531" y2="1304.61" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint30_linear_113_13" x1="769.285" y1="0.00012207" x2="769.285" y2="1304.61" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint31_linear_113_13" x1="855.038" y1="0.000366211" x2="855.038" y2="1306.85" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint32_linear_113_13" x1="938.326" y1="0.000366211" x2="938.326" y2="1304.61" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint33_linear_113_13" x1="1024.08" y1="0.000488281" x2="1024.08" y2="1304.61" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint34_linear_113_13" x1="1114.74" y1="0.000488281" x2="1114.74" y2="1304.61" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint35_linear_113_13" x1="1205.37" y1="0.000610352" x2="1205.37" y2="1305.64" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint36_linear_113_13" x1="1298.5" y1="0.000976562" x2="1298.5" y2="1297.59" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint37_linear_113_13" x1="1379.34" y1="0" x2="1379.34" y2="1256.64" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint38_linear_113_13" x1="723.383" y1="1161.63" x2="723.383" y2="1162.63" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint39_linear_113_13" x1="729.256" y1="142.959" x2="729.256" y2="143.959" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint40_linear_113_13" x1="744.586" y1="93.4883" x2="744.586" y2="94.4883" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient><linearGradient id="paint41_linear_113_13" x1="771.54" y1="40.9751" x2="771.54" y2="41.9751" gradientUnits="userSpaceOnUse"><stop stop-color="%23356F7F" stop-opacity="0"/><stop offset="0.491" stop-color="%237F60E5"/><stop offset="0.9" stop-color="%23356F7F" stop-opacity="0"/></linearGradient></defs></svg>');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: 1440px;
}
.container nav
{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    align-items: center;
}
.container nav h1
{
    font-size: 48px;
    color: #E9D7D7;
}
.container nav h1 a
{
    text-decoration: none;
}
.container nav h1 a:hover
{
    color: #B28ED4;
}
.container nav ul
{
    display: flex;
    list-style: none;
    gap: 5.5rem;

    font-weight: 700;
    font-size: 32px;
}
.container nav ul li a
{
    text-decoration: none;
    color: #E9D7D7;
}
.container nav ul li a:hover
{
    color: #B28ED4;
}
.container nav button
{
    padding: 1rem;
    font-weight: 800;
    font-size: 32px;

    background-color: transparent;
    border: solid 0.2rem;
    border-color: #B28ED4;
}
.container nav button a
{
    text-decoration: none;
    color: #B28ED4;
}
.container nav button:hover
{
    background-color: #B28ED4;
    border: solid 0.2rem;
    border-color: #B28ED4;
    border-radius: 12px;
}
.container nav button:hover a
{
    color: #E9D7D7;
}
/* hero */
.container-hero
{
    display: flex;
    text-align: left;
    align-items: center;
    width: 100vw;
    justify-content: center;
}
/* .hero-left-side
{
    /* padding-left: 3rem; 
    /* margin-left: 3rem; 
} */
.hero-left-side h1
{
    font-size: 110px;
    width: 40rem;
    color: #B28ED4;
    margin-bottom: 1rem;
}
.hero-left-side h1 span
{
    color: #E9D7D7;
}
.hero-left-side h2
{
    font-size: 32px;
    color: #B5A9C1;
    width: 50rem;
    margin: 0;
}
.hero-right-side
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7.5rem;
}
.card-container svg
{
    transform:translateY(4rem);
}
.gallery
{
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: 700px 700px;
    column-gap: 1rem;
    row-gap: 1rem;

    margin-top: 15rem;    
}
.gallery img
{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
}
.certi-3
{
    grid-column: span 2;
}
/* footer */
footer
{
    padding-top: 10rem;
}
.footer-container
{
    padding-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 30vh;
    /* height: 300px; */
    border-top: solid 5px #B28ED4;
    background-color: #0F051E;
}
.footer-circle-container
{
    margin-top: -5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2.5rem;
}
.footer-circle
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 109.69px;
    height: 109.69px;
    border: solid 5px #B28ED4;
    background-color: transparent;
}
.footer-circle:hover
{
    border: solid 5px #B28ED4;
    background-color: #B28ED4;
    scale: 1.1;
}
.footer-circle:hover i
{
    color: #E9D7D7;
    scale: 3.25;
}
.footer-circle a i
{
    color: #B28ED4;
    scale: 3;
}
.footer-text
{
    margin-top: 5rem;
    color: #B5A9C1;
}
